html {
  scroll-behavior: smooth;
}

/* * Css pentru logo */
.logo {
  background: transparent;
  max-width: 125px;
  height: 125px;
  display: block;
}

/* Css pentru navbar */
.main-nav-container {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 35px;
}

.brand-nav {
  background-color: aqua;
  height: 0px;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.buttons-nav {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
}

.nav-link {
  background-color: rgba(255, 255, 255, 1); /* Fundal semitransparent */
  padding: 5px 15px; /* Spațiere în jurul textului */
  margin: 0 5px; /* Spațiere între elementele navbar-ului */
  color: #000; /* Culoare text */
}

.nav-link:hover {
  background-color: rgba(
    249,
    222,
    190,
    1
  ); /* Fundal mai puțin transparent la hover */
  color: #000; /* Culoare text la hover */
}

/* * Css pentru continutul de sub navbar */

#below-navbar {
  margin-top: 100px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* * Css pentru imaginea mare din header */

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-section {
  height: 100vh; /* *  Înălțime completă a ecranului */
  background: url("../img/frames-for-your-heart-FqqiAvJejto-unsplash.jpg")
    no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 40;
}

.hero-section * {
  position: relative;
  z-index: 42;
  color: inherit;
}

/* * Css pentru sectiunea de apartamente din index */

.apartment-img-container {
  aspect-ratio: 1/3;
  height: 600px;
  overflow: hidden;
}

.apartment-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#apartments img {
  transition: transform 0.25s ease;
}

/* * Css pentru sectiunea de apartamente din apartments */

.badge {
  background-color: rgb(83, 45, 41);
}

#apartments img:hover {
  transform: scale(1.05);
}

/* * Css pentru butoane */
.btn {
  background-color: rgb(83, 45, 41);
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(103, 65, 61);
  color: white;
}

/* *Css pentru sectiunea de review-uri */

#reviews img {
  width: 60px;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body small.text-muted {
  align-self: flex-start;
}

/* * CSS pentru cutia din stanga paginii cu linkuri catre social media */

.social-icons-container {
  position: fixed;
  top: 40%;
  left: 0;
  width: 60px;
  transform: translateY(-50%);
  background-color: rgb(83, 45, 41);
  z-index: 35;
}

.rounded-end {
  border-radius: 0 8px 8px 0;
}

/* Am adaugat efect culoare pentru social icons */

.social-icons {
  transition: background-color 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-icons i {
  font-size: 1.5rem;
}
.social-icons:hover {
  background-color: rgb(103, 65, 61);
}

.social-icons:first-child {
  border-radius: 0 8px 0 0;
}

.social-icons:last-child {
  border-radius: 0 0 8px 0;
}

.contact-info-icon {
  color: rgb(83, 45, 41);
}
